<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="images/index/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Saas</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="stylesheets/index/css/linearicons.css">
		<link rel="stylesheet" href="stylesheets/index/css/font-awesome.min.css">
		<link rel="stylesheet" href="stylesheets/index/css/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/index/css/magnific-popup.css">
		<link rel="stylesheet" href="stylesheets/index/css/nice-select.css">					
		<link rel="stylesheet" href="stylesheets/index/css/animate.min.css">
		<link rel="stylesheet" href="stylesheets/index/css/owl.carousel.css">
		<link rel="stylesheet" href="stylesheets/index/css/main.css">
	</head>
	<body>

		  <header id="header" id="dashboard">
		    <div class="container">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="#"><img src="images/index/img/logo.png" alt="" title="" /></a>
			      </div>
			    <!--  <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li class="menu-active"><a href="#dashboard">dashboard</a></li>
			          <li><a href="#service">Services</a></li>
			          <li><a href="#feature">Features</a></li>
			          <li><a href="#price">Price</a></li>
			          <li><a href="#testimonial">Testimonial</a></li>
			          <li class="menu-has-children"><a href="">Pages</a>
			            <ul>
			              <li><a href="#">Generic</a></li>
			              <li><a href="#">Elements</a></li>
			            </ul>
			          </li>
			          <li><a class="ticker-btn" href="/signup">Get Started</a></li>				          
			        </ul>
			      </nav> -->
				  <!-- #nav-menu-container -->		    		
		    	</div>
		    </div>
		  </header><!-- #header -->


		<!-- start banner Area -->
		<section class="banner-area relative" id="dashboard">
			<div class="overlay overlay-bg"></div>	
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner-content col-lg-8">

						<a class="ticker-btn" href="/signup" 
						style=" border-radius: 5px;
    							font-size: 20px;">
								Get Started</a>

						<h1 class="text-white">
							Organize all with SaaS				
						</h1>
						<p class="pt-20 pb-20 text-white">
Software as a service (SaaS) is a software distribution model in which a third-party provider hosts applications and makes them available to customers over the Internet.						</p>
					</div>											
				</div>
			</div>					
		</section>
		<!-- End banner Area -->	

		<!-- Start feature Area 
		<section class="feature-area pb-100" id="service">
			<div class="container">
				<div class="row mockup-container">
					<img class="mx-auto d-block img-fluid" src="images/index/img/laptop.png" alt="">
				</div>
				<div class="row d-flex justify-content-center">
					<div class="menu-content pt-100 pb-60 col-lg-10">
						<div class="title text-center">
							<h1 class="mb-10">Our Most Unique Features</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>						
				<div class="row">
					<div class="col-lg-4">
						<div class="single-feature">
							<span class="lnr lnr-screen"></span>
							<h4>
								Stunning Visuals
							</h4>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature">
							<span class="lnr lnr-code"></span>
							<h4>
								Clean Code
							</h4>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature">
							<span class="lnr lnr-clock"></span>
							<h4>
								Punctuality
							</h4>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.
							</p>
						</div>
					</div>												
				</div>
			</div>	
		</section>-->
		<!-- End feature Area -->
		
		<!-- Start about Area 
		<section class="about-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-10">
						<div class="title text-center">
							<h1 class="mb-10">Powerful User interface Design</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>						
				<div class="row align-items-center">
					<div class="col-lg-6 about-left">
						<h6>Brand new app to blow your mind</h6>
						<h1>
							We’ve made a life <br>
							that will change you
						</h1>
						<p>
							<span>
								We are here to listen from you deliver exellence
							</span>
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
							or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
						</p>
						<a class="primary-btn" href="#">Get Started now</a>
					</div>
					<div class="col-lg-6 about-right">
						<div class="active-about-carusel">
							<div class="single-carusel item">
								<img class="img-fluid" src="images/index/img/about-img.png" alt="">
							</div>
							<div class="single-carusel item">
								<img class="img-fluid" src="images/index/img/about-img.png" alt="">
							</div>
							<div class="single-carusel item">
								<img class="img-fluid" src="images/index/img/about-img.png" alt="">
							</div>																
						</div>
					</div>
				</div>
			</div>	
		</section>-->
		<!-- End about Area -->
		
		<!-- Start service Area 
		<section class="service-area section-gap" id="feature">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-10">
						<div class="title text-center">
							<h1 class="mb-10">Features That make us Unique</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>					
				<div class="row">
					<div class="col-lg-6 secvice-left">
						<div class="single-service d-flex flex-row pb-30">
							<div class="icon">
								<h1>01</h1>
							</div>
							<div class="desc">
								<h4>User Research</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
								</p>
							</div>
						</div>
						<div class="single-service d-flex flex-row pb-30">
							<div class="icon">
								<h1>03</h1>
							</div>
							<div class="desc">
								<h4>Sketch & Wireframes</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
								</p>
							</div>
						</div>
						<div class="single-service d-flex flex-row pb-30">
							<div class="icon">
								<h1>05</h1>
							</div>
							<div class="desc">
								<h4>User Research</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
								</p>
							</div>
						</div>														
					</div>
					<div class="col-lg-6 secvice-right">
						<div class="single-service d-flex flex-row pb-30">
							<div class="icon">
								<h1>02</h1>
							</div>
							<div class="desc">
								<h4>User Interface</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
								</p>
							</div>
						</div>
						<div class="single-service d-flex flex-row pb-30">
							<div class="icon">
								<h1>04</h1>
							</div>
							<div class="desc">
								<h4>User Experience</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
								</p>
							</div>
						</div>
						<div class="single-service d-flex flex-row pb-30">
							<div class="icon">
								<h1>06</h1>
							</div>
							<div class="desc">
								<h4>User Interface</h4>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
								</p>
							</div>
						</div>														
					</div>						
				</div>
			</div>	
		</section> -->
		<!-- End service Area -->
			

		<!-- Start callto-action Area 
		<section class="callto-action-area relative section-gap">
			<div class="overlay overlay-bg"></div>	
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content col-lg-9">
						<div class="title text-center">
							<h1 class="mb-10 text-white">Got Impressed to our features</h1>
							<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
							<a class="primary-btn" href="#">Request Free Demo</a>
						</div>
					</div>
				</div>	
			</div>	
		</section> -->
		<!-- End calto-action Area -->
		

		<!-- Start dashboard-video Area 
		<section class="dashboard-video-area">
			<div class="container-fluid">
				<div class="row justify-content-end align-items-center">
					<div class="col-lg-4 no-padding video-right">
						<p class="top-title">Tutorial for beginner</p>
						<h1>Watch tutorial <br>
						Video of SaaS to start</h1>
						<p><span>We are here to listen from you deliver exellence</span></p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
						</p>
					</div>
					<section class="video-area col-lg-6">
						<div class="overlay overlay-bg"></div>
						<div class="container">
							<div class="video-content">
								<a href="https://www.youtube.com/watch?v=1FAMt4YLIgo" class="play-btn"><img src="images/index/img/play-btn.png" alt=""></a>
							</div>
						</div>
					</section>											
				</div>
			</div>	
		</section> -->
		<!-- End dashboard-aboutus Area -->


		<!-- Start dashboard-aboutus Area 
		<section class="dashboard-aboutus-area">
			<div class="container-fluid">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-8 no-padding about-left relative">
						<div class="overlay overlay-bg"></div>	
						<img class="img-fluid" src="images/index/img/f2.jpg" alt="">
					</div>
					<div class="col-lg-4 no-padding about-right">
						<p class="top-title">24/7 Support system</p>
						<h1>A Handy support <br>
						System for the Software</h1>
						<p><span>We are here to listen from you deliver exellence</span></p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
						</p>
					</div>
				</div>
			</div>	
		</section> -->
		<!-- End dashboard-aboutus Area -->			
	
		<!-- Start price Area 
		<section class="price-area section-gap" id="price">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Choose the best pricing for you</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>						
				<div class="row">
					<div class="col-lg-4">
						<div class="single-price no-padding">
							<div class="price-top">
								<h4>Real basic</h4>
							</div>
							<ul class="lists">
								<li>2.5 GB Space</li>
								<li>Secure Online Transfer</li>
								<li>Unlimited Styles</li>
								<li>Customer Service</li>
							</ul>
							<div class="price-bottom">
								<div class="price-wrap d-flex flex-row justify-content-center">
									<span class="price">$</span><h1> 39 </h1><span class="time">Per <br> Month</span>
								</div>
								<a href="#" class="primary-btn header-btn">Get Started</a>
							</div>
							
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-price no-padding">
							<div class="price-top">
								<h4>Real Standred</h4>
							</div>
							<ul class="lists">
								<li>2.5 GB Space</li>
								<li>Secure Online Transfer</li>
								<li>Unlimited Styles</li>
								<li>Customer Service</li>
							</ul>
							<div class="price-bottom">
								<div class="price-wrap d-flex flex-row justify-content-center">
									<span class="price">$</span><h1> 69 </h1><span class="time">Per <br> Month</span>
								</div>
								<a href="#" class="primary-btn header-btn">Get Started</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-price no-padding">
							<div class="price-top">
								<h4>Real Ultimate</h4>
							</div>
							<ul class="lists">
								<li>2.5 GB Space</li>
								<li>Secure Online Transfer</li>
								<li>Unlimited Styles</li>
								<li>Customer Service</li>
							</ul>
							<div class="price-bottom">
								<div class="price-wrap d-flex flex-row justify-content-center">
									<span class="price">$</span><h1> 99 </h1><span class="time">Per <br> Month</span>
								</div>
								<a href="#" class="primary-btn header-btn">Get Started</a>
							</div>
						</div>				
					</div>								
				</div>
			</div>	 
		</section>  -->
		<!-- End price Area -->

		<!-- Start testimonial Area 
		<section class="testimonial-area relative section-gap" id="testimonial">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Testimonial from our Clients</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>						
				<div class="row">
					<div class="active-testimonial">
						<div class="single-testimonial item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="images/index/img/t1.jpg" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<div class="single-testimonial item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="images/index/img/t2.jpg" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
							</div>
						</div>	
						<div class="single-testimonial item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="images/index/img/t1.jpg" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<div class="single-testimonial item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="images/index/img/t2.jpg" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
							</div>
						</div>									
						<div class="single-testimonial item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="images/index/img/t1.jpg" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<div class="single-testimonial item d-flex flex-row">
							<div class="thumb">
								<img class="img-fluid" src="images/index/img/t2.jpg" alt="">
							</div>
							<div class="desc">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
								</p>
								<h4 mt-30>Mark Alviro Wiens</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
							</div>
						</div>								
					</div>					
				</div>
			</div>	
		</section>  -->
		<!-- End testimonial Area -->
		
		
		<!-- Start latest-blog Area 
		<section class="latest-blog-area section-gap" id="blog">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Latest News from our Blog</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>					
				<div class="row">
					<div class="col-lg-6 single-blog">
						<img class="img-fluid" src="images/index/img/b1.jpg" alt="">
						<ul class="tags">
							<li><a href="#">Travel</a></li>
							<li><a href="#">Life style</a></li>
						</ul>
						<a href="#"><h4>Portable latest Fashion for young women</h4></a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
						</p>
						<p class="post-date">31st January, 2018</p>
					</div>
					<div class="col-lg-6 single-blog">
						<img class="img-fluid" src="images/index/img/b2.jpg" alt="">
						<ul class="tags">
							<li><a href="#">Travel</a></li>
							<li><a href="#">Life style</a></li>
						</ul>
						<a href="#"><h4>Portable latest Fashion for young women</h4></a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
						</p>
						<p class="post-date">31st January, 2018</p>
					</div>						
				</div>
			</div>	
		</section> -->
		<!-- End latest-blog Area -->
		

		<!-- start footer Area 		
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>About Us</h6>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
							</p>
							<p class="footer-text"> -->
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
							</p>	
						</div>
					</div>
					<div class="col-lg-5  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Newsletter</h6>
							<p>Stay update with our latest</p>
							<div class="" id="mc_embed_signup">
								<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
		                            	<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
		                            	<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>

									<div class="info"></div>
								</form>
							</div>
						</div>
					</div>						
					<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
						<div class="single-footer-widget">
							<h6>Follow Us</h6>
							<p>Let us be social</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>							
				</div>
			</div>
		</footer>	 -->
		<!-- End footer Area -->		

		<script src="javascripts/index/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="javascripts/index/js/vendor/bootstrap.min.js"></script>			
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		
		<script src="javascripts/index/js/easing.min.js"></script>			
		<script src="javascripts/index/js/hoverIntent.js"></script>
		<script src="javascripts/index/js/superfish.min.js"></script>	
		<script src="javascripts/index/js/jquery.ajaxchimp.min.js"></script>
		<script src="javascripts/index/js/jquery.magnific-popup.min.js"></script>	
		<script src="javascripts/index/js/owl.carousel.min.js"></script>			
		<script src="javascripts/index/js/jquery.sticky.js"></script>
		<script src="javascripts/index/js/jquery.nice-select.min.js"></script>			
		<script src="javascripts/index/js/parallax.min.js"></script>		
		<script src="javascripts/index/js/mail-script.js"></script>	
		<script src="javascripts/index/js/main.js"></script>	
	</body>
</html>



